
<h1> 职位修改 </h1>

<%= simple_form_for [:admin,@job] do |f| %>

<%= f.input :title, :label => "职位标题" %>
<%= f.input :description, :input_html => { :wrap => :soft, :rows => 20}, :label => '输入职位描述:', :label_html => { :class => 'type' }  %>
<%= f.input :wage_lower_bound, :label => "薪资下限" %>
<%= f.input :wage_upper_bound, :label => "薪资上限" %>
<%= f.input :contact_email, :label => "联系邮箱" %>
<%= f.input :is_hidden, :label => "隐藏该职位" %>

  <%= f.submit "提交", class: "btn btn-primary btn-md" %>
<% end %>
