<div class="col-centered">
  <h1 class="col-centered"> <%= @job.title %> </h1>
  <p class="col-centered">
    <%= simple_format(@job.description) %>
  </p>
  <div>
    <td>
      城市：
      <%= @job.city %>
    </td>

    <td>
      公司：
      <%= @job.company %>
    </td>
    <td>
      分类：
      <%= @job.category %>
    </td>
  </div>


</div>
