<!DOCTYPE html>
<html>
  <head>
    <title>全栈英才</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="http://ww2.sinaimg.cn/large/006tKfTcly1ff5ykqj45yj303k03k3yc.jpg">
  </head>
  <body  style="margin-top:40px;">
     <div class="row">
       <%= render "common/navbar" %>
     </div>
    <%= render "common/flashes" %>
    <div class="description ">
        <%= yield %>
    </div>
  </body>
  <%= render "common/footer" %>

</html>
